@use "../mixins" as m;
@use "../variables" as v;

.banner-slider__wrapper{
  width: 100%;

}
.banner-slider__slider-item{
  @include m.list-rules-reset;
  width: 100%;
}

.banner-slider{
  position: relative;
}



