.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", "Arial", sans-serif;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  color: $base-white;
  background-color: $purple-dark;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: $purple-lighter;
  color: $base-white;
}

.button:active {
  background-color: $purple-darker;
  color: $base-white;
}

.button:default {
  background-color: $gray-dark;
  color: $base-white;
}
