.cards__fieldset {
  @include intends-reset;
}

@media (min-width: $tablet-width) {
  .cards {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .cards {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.cards__list {
  @include list-rules-reset;
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 350px;
    row-gap: 30px;
    padding-top: 15px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px 30px;
    padding-top: 0;
  }
}

.cards__item {
  width: 280px;
  min-height: 420px;
  padding: 40px 20px 10px 20px;
  box-sizing: border-box;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 349px;
    min-height: 440px;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 317px;
    min-height: 460px;
    padding: 50px 30px 30px 30px;
  }
}
