@use "../variables" as v;
@use "../mixins" as m;

.checkbox {
  width: 280px;
  font-family: "Montserrat", "Arial", sans-serif;
  color:v.$base-black;
  text-align: left;

  @media(min-width: v.$desktop-width){
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.checkbox__title {
  width: 280px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 21px 0;
}

.checkbox__list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px ;

  @media (max-width: v.$tablet-width){
    margin-bottom: 0;
}
}


