@use "../mixins" as m;
@use "../variables" as v;


.container__slider{
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 656px;

  @media(min-width: v.$tablet-width){
    width: 768px;
    padding: 0 60px;
    min-height: 828px;
  }

  @media(min-width: v.$desktop-width){
    width: 1440px;
    padding: 0 60px;
    min-height: 714px;
  }
}

.container__advantages {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 902px;
}

.container__filter {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container__map{
  min-width: 320px;
  height: 420px;
}

