.contacts__title {
  margin: 20px 0 20px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: $purple-dark;
}

.contacts__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 13px 261px;
  gap: 16px 6px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;

  &::after {
    position: absolute;
    content: " ";
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-items: center;
    background-image: url("../../img/icons/stack.svg#address");
    width: 13px;
    height: 16px;
  }

  &::before {
    position: absolute;
    content: " ";
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-items: center;
    background-image: url("../../img/icons/stack.svg#phone");
    width: 13px;
    height: 16px;
  }
}

.contacts__text {
  width: 261px;
  height: 40px;
  padding: 0;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

@media (max-width: $mobile-width-only) {
  br {
    display: none;
  }
}

// @media (min-width: $desktop-width) {
//   br {
//     display: none;
//   }
// }

.contacts__phone {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
  color: $base-black;
  text-decoration: none;
}
