.copyright__link {
  display: block;
  text-align: center;
  color: $gray-dark;
  text-decoration: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;
  }
}
