@use "../mixins" as m;
@use "../variables" as v;

.fieldset-button {
  min-height: 40px;
  box-sizing: border-box;
  font-family: "Montserrat", "Arial", sans-serif;


  @media (max-width: v.$tablet-width){
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: start;
  }

  @media(min-width: v.$desktop-width){
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.fieldset-button__title {
  margin: 0;
}

.fieldset-button__apply,
.fieldset-button__reset {
  margin-left:2px;
  width: 280px;
}

@media (max-width: v.$tablet-width){
.fieldset-button__apply{
  max-width: 137px;
    display: flex;
    min-height: 40px ;
    flex-shrink: 1;
    margin: 19px 20px 45px 227px;
  }
}


@media (max-width: v.$tablet-width){
.fieldset-button__reset {
  margin-top: 19px;
  max-width: 120px;
}
}

.fieldset-button__apply--color {
background-color: v.$purple-dark;
}

.fieldset-button__reset--color{
  background-color: v.$base-white;
  color:v.$purple-dark;
}

.fieldset-button__reset--margin {
  margin-bottom: 40px;
}

.fieldset-button__reset:disable {
  background-color:v.$light-gray;
  color:v.$base-white;
}
