.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
  }
}

.logo__picture {
  display: flex;
  align-items: center;
  width: 32px;
  height: 36px;
  margin: auto 0;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}
