.range {
  font-family: "Montserrat", "Arial", sans-serif;
  text-align: start;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.range__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 30px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px 0;
  }
}

.range-scale {
  position: relative;
  height: 2px;
  margin: 0 0 33px 0;
  background-color: $light-gray;

  @media (min-width: $tablet-width) {
    width: 223px;
    margin: 0 0 31px 0;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.range-bar {
  position: absolute;
  top: -1px;
  height: 4px;
  background-color: $purple-lighter;
  left: 10.6px;
  width: 241.2px;

  @media (min-width: $tablet-width) {
    width: 180px;
  }

  @media (min-width: $desktop-width) {
    width: 274px;
  }
}

.range-toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: $base-white;
  border-radius: 50%;
  border: 2px solid $purple-lighter;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  background-color: $base-white;
  background-image: url("/img/icons/stack.svg#range-hover-focus");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 2px;
  outline: none;
}

.range-toggle:active {
  background-color: $base-white;
  background-image: url("/img/icons/stack.svg#range-active");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 2px;
}

.range-toggle:default {
  background-color: $dark-white;
}

.range-toggle__toggle-min {
  top: -9px;
  left: -10px;
}

.range-toggle__toggle-max {
  top: -10px;
  right: -9px;
}

.range__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 30px 0;

  @media (min-width: $desktop-width) {
    margin: 0 0 25px 0;
  }
}

@media (min-width: $tablet-width) {
  .range__search {
    max-width: 87px;
    padding: 8px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: $base-white;
    color: $base-black;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid $purple-lighter;
    cursor: pointer;
  }
}

@media (max-width: $mobile-width-only) {
  .range__search {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    max-width: 118px;
    background-color: $base-white;
    color: $base-black;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid v.$purple-lighter;
    padding: 8px 9px 8px 9px;
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {
  .range__search {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    min-width: 130px;
    background-color: $base-white;
    color: $base-black;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid $purple-lighter;
    padding: 8px 9px 8px 9px;
    cursor: pointer;
  }
}

.range__search::placeholder {
  background-color: $base-white;
  color: $gray-dark;
}

.range__search:hover,
.range__search:focus {
  border: 2px solid $purple-darker;
  outline: none;
}

.range__search:disabled {
  border: 2px solid $light-gray;
  background-color: $dark-white;
}

.range__search::placeholder:disabled {
  background-color: $dark-white;
}
