@media (max-width: 1439.5px) {
  .user-list__text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .user-list__text {
    margin-left: 10px;
  }
}

@media (max-width: $tablet-width-only) {
  .user-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 80px;
  }
}

@media (max-width: $mobile-width-only) {
  .user-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .user-list__item {
    display: flex;
    flex: 0 0 auto;
    column-gap: 20px;
    box-sizing: border-box;
    color: $base-black;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $purple-dark;
      outline: none;
    }
  }
}

.user-list__login,
.user-list__cart {
  min-width: 60px;
  height: 60px;
  padding: 22px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 60px;
    height: 80px;
    padding: 32px 22px;
  }
}

@media (min-width: $desktop-width) {
  .user-list__login {
    display: flex;
    align-items: center;
    margin: auto 0;
    min-width: 112px;
    height: 80px;
    padding: 32px 20px;
    color: $base-black;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .user-list__cart {
    display: flex;
    margin: 0 auto;
    min-width: 129px;
    height: 80px;
    padding: 32px 20px;
    color: $base-black;
    text-decoration: none;
  }
}
