$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$tablet-width-only: 1439.99px;
$base-white: #ffffff;
$base-black: #333333;
$black: #000000;
$light-purple: #f0ebff;
$purple-dark: #7859cf;
$gray: #e5e6e8;
$purple: #eae6fc;
$beige: #f3ebe1;
$gray-dark:#bdbdbd;
$purple-lighter: #9070ec;
$purple-darker:#593cac;
$light-gray:#e2e2e2;
$dark-white:#f8f8f8;
